@font-face {
  font-family: 'weathericons';
  src: url("../font/weathericons-regular-webfont.eot");
  src: url("../font/weathericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/weathericons-regular-webfont.woff") format("woff"), url("../font/weathericons-regular-webfont.ttf") format("truetype"), url("../font/weathericons-regular-webfont.svg#weathericons-regular-webfontRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../build/scss/sass/weather-icons.scss */
.wi {
  display: inline-block;
  font-family: 'weathericons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 17, ../build/scss/sass/weather-icons.scss */
.wi-day-cloudy-gusts:before {
  content: "\f000";
}

/* line 20, ../build/scss/sass/weather-icons.scss */
.wi-day-cloudy-windy:before {
  content: "\f001";
}

/* line 23, ../build/scss/sass/weather-icons.scss */
.wi-day-cloudy:before {
  content: "\f002";
}

/* line 26, ../build/scss/sass/weather-icons.scss */
.wi-day-fog:before {
  content: "\f003";
}

/* line 29, ../build/scss/sass/weather-icons.scss */
.wi-day-hail:before {
  content: "\f004";
}

/* line 32, ../build/scss/sass/weather-icons.scss */
.wi-day-lightning:before {
  content: "\f005";
}

/* line 35, ../build/scss/sass/weather-icons.scss */
.wi-day-rain-mix:before {
  content: "\f006";
}

/* line 38, ../build/scss/sass/weather-icons.scss */
.wi-day-rain-wind:before {
  content: "\f007";
}

/* line 41, ../build/scss/sass/weather-icons.scss */
.wi-day-rain:before {
  content: "\f008";
}

/* line 44, ../build/scss/sass/weather-icons.scss */
.wi-day-showers:before {
  content: "\f009";
}

/* line 47, ../build/scss/sass/weather-icons.scss */
.wi-day-snow:before {
  content: "\f00a";
}

/* line 50, ../build/scss/sass/weather-icons.scss */
.wi-day-sprinkle:before {
  content: "\f00b";
}

/* line 53, ../build/scss/sass/weather-icons.scss */
.wi-day-sunny-overcast:before {
  content: "\f00c";
}

/* line 56, ../build/scss/sass/weather-icons.scss */
.wi-day-sunny:before {
  content: "\f00d";
}

/* line 59, ../build/scss/sass/weather-icons.scss */
.wi-day-storm-showers:before {
  content: "\f00e";
}

/* line 62, ../build/scss/sass/weather-icons.scss */
.wi-day-thunderstorm:before {
  content: "\f010";
}

/* line 65, ../build/scss/sass/weather-icons.scss */
.wi-cloudy-gusts:before {
  content: "\f011";
}

/* line 68, ../build/scss/sass/weather-icons.scss */
.wi-cloudy-windy:before {
  content: "\f012";
}

/* line 71, ../build/scss/sass/weather-icons.scss */
.wi-cloudy:before {
  content: "\f013";
}

/* line 74, ../build/scss/sass/weather-icons.scss */
.wi-fog:before {
  content: "\f014";
}

/* line 77, ../build/scss/sass/weather-icons.scss */
.wi-hail:before {
  content: "\f015";
}

/* line 80, ../build/scss/sass/weather-icons.scss */
.wi-lightning:before {
  content: "\f016";
}

/* line 83, ../build/scss/sass/weather-icons.scss */
.wi-rain-mix:before {
  content: "\f017";
}

/* line 86, ../build/scss/sass/weather-icons.scss */
.wi-rain-wind:before {
  content: "\f018";
}

/* line 89, ../build/scss/sass/weather-icons.scss */
.wi-rain:before {
  content: "\f019";
}

/* line 92, ../build/scss/sass/weather-icons.scss */
.wi-showers:before {
  content: "\f01a";
}

/* line 95, ../build/scss/sass/weather-icons.scss */
.wi-snow:before {
  content: "\f01b";
}

/* line 98, ../build/scss/sass/weather-icons.scss */
.wi-sprinkle:before {
  content: "\f01c";
}

/* line 101, ../build/scss/sass/weather-icons.scss */
.wi-storm-showers:before {
  content: "\f01d";
}

/* line 104, ../build/scss/sass/weather-icons.scss */
.wi-thunderstorm:before {
  content: "\f01e";
}

/* line 107, ../build/scss/sass/weather-icons.scss */
.wi-windy:before {
  content: "\f021";
}

/* line 110, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-cloudy-gusts:before {
  content: "\f022";
}

/* line 113, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-cloudy-windy:before {
  content: "\f023";
}

/* line 116, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-hail:before {
  content: "\f024";
}

/* line 119, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-lightning:before {
  content: "\f025";
}

/* line 122, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-rain-mix:before {
  content: "\f026";
}

/* line 125, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-rain-wind:before {
  content: "\f027";
}

/* line 128, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-rain:before {
  content: "\f028";
}

/* line 131, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-showers:before {
  content: "\f029";
}

/* line 134, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-snow:before {
  content: "\f02a";
}

/* line 137, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-sprinkle:before {
  content: "\f02b";
}

/* line 140, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-storm-showers:before {
  content: "\f02c";
}

/* line 143, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-thunderstorm:before {
  content: "\f02d";
}

/* line 146, ../build/scss/sass/weather-icons.scss */
.wi-night-clear:before {
  content: "\f02e";
}

/* line 149, ../build/scss/sass/weather-icons.scss */
.wi-night-cloudy-gusts:before {
  content: "\f02f";
}

/* line 152, ../build/scss/sass/weather-icons.scss */
.wi-night-cloudy-windy:before {
  content: "\f030";
}

/* line 155, ../build/scss/sass/weather-icons.scss */
.wi-night-cloudy:before {
  content: "\f031";
}

/* line 158, ../build/scss/sass/weather-icons.scss */
.wi-night-hail:before {
  content: "\f032";
}

/* line 161, ../build/scss/sass/weather-icons.scss */
.wi-night-lightning:before {
  content: "\f033";
}

/* line 164, ../build/scss/sass/weather-icons.scss */
.wi-night-rain-mix:before {
  content: "\f034";
}

/* line 167, ../build/scss/sass/weather-icons.scss */
.wi-night-rain-wind:before {
  content: "\f035";
}

/* line 170, ../build/scss/sass/weather-icons.scss */
.wi-night-rain:before {
  content: "\f036";
}

/* line 173, ../build/scss/sass/weather-icons.scss */
.wi-night-showers:before {
  content: "\f037";
}

/* line 176, ../build/scss/sass/weather-icons.scss */
.wi-night-snow:before {
  content: "\f038";
}

/* line 179, ../build/scss/sass/weather-icons.scss */
.wi-night-sprinkle:before {
  content: "\f039";
}

/* line 182, ../build/scss/sass/weather-icons.scss */
.wi-night-storm-showers:before {
  content: "\f03a";
}

/* line 185, ../build/scss/sass/weather-icons.scss */
.wi-night-thunderstorm:before {
  content: "\f03b";
}

/* line 188, ../build/scss/sass/weather-icons.scss */
.wi-celsius:before {
  content: "\f03c";
}

/* line 191, ../build/scss/sass/weather-icons.scss */
.wi-cloud-down:before {
  content: "\f03d";
}

/* line 194, ../build/scss/sass/weather-icons.scss */
.wi-cloud-refresh:before {
  content: "\f03e";
}

/* line 197, ../build/scss/sass/weather-icons.scss */
.wi-cloud-up:before {
  content: "\f040";
}

/* line 200, ../build/scss/sass/weather-icons.scss */
.wi-cloud:before {
  content: "\f041";
}

/* line 203, ../build/scss/sass/weather-icons.scss */
.wi-degrees:before {
  content: "\f042";
}

/* line 206, ../build/scss/sass/weather-icons.scss */
.wi-down-left:before {
  content: "\f043";
}

/* line 209, ../build/scss/sass/weather-icons.scss */
.wi-down:before {
  content: "\f044";
}

/* line 212, ../build/scss/sass/weather-icons.scss */
.wi-fahrenheit:before {
  content: "\f045";
}

/* line 215, ../build/scss/sass/weather-icons.scss */
.wi-horizon-alt:before {
  content: "\f046";
}

/* line 218, ../build/scss/sass/weather-icons.scss */
.wi-horizon:before {
  content: "\f047";
}

/* line 221, ../build/scss/sass/weather-icons.scss */
.wi-left:before {
  content: "\f048";
}

/* line 224, ../build/scss/sass/weather-icons.scss */
.wi-lightning:before {
  content: "\f016";
}

/* line 227, ../build/scss/sass/weather-icons.scss */
.wi-night-fog:before {
  content: "\f04a";
}

/* line 230, ../build/scss/sass/weather-icons.scss */
.wi-refresh-alt:before {
  content: "\f04b";
}

/* line 233, ../build/scss/sass/weather-icons.scss */
.wi-refresh:before {
  content: "\f04c";
}

/* line 236, ../build/scss/sass/weather-icons.scss */
.wi-right:before {
  content: "\f04d";
}

/* line 239, ../build/scss/sass/weather-icons.scss */
.wi-sprinkles:before {
  content: "\f04e";
}

/* line 242, ../build/scss/sass/weather-icons.scss */
.wi-strong-wind:before {
  content: "\f050";
}

/* line 245, ../build/scss/sass/weather-icons.scss */
.wi-sunrise:before {
  content: "\f051";
}

/* line 248, ../build/scss/sass/weather-icons.scss */
.wi-sunset:before {
  content: "\f052";
}

/* line 251, ../build/scss/sass/weather-icons.scss */
.wi-thermometer-exterior:before {
  content: "\f053";
}

/* line 254, ../build/scss/sass/weather-icons.scss */
.wi-thermometer-internal:before {
  content: "\f054";
}

/* line 257, ../build/scss/sass/weather-icons.scss */
.wi-thermometer:before {
  content: "\f055";
}

/* line 260, ../build/scss/sass/weather-icons.scss */
.wi-tornado:before {
  content: "\f056";
}

/* line 263, ../build/scss/sass/weather-icons.scss */
.wi-up-right:before {
  content: "\f057";
}

/* line 266, ../build/scss/sass/weather-icons.scss */
.wi-up:before {
  content: "\f058";
}

/* line 269, ../build/scss/sass/weather-icons.scss */
.wi-wind-west:before {
  content: "\f059";
}

/* line 272, ../build/scss/sass/weather-icons.scss */
.wi-wind-south-west:before {
  content: "\f05a";
}

/* line 275, ../build/scss/sass/weather-icons.scss */
.wi-wind-south-east:before {
  content: "\f05b";
}

/* line 278, ../build/scss/sass/weather-icons.scss */
.wi-wind-south:before {
  content: "\f05c";
}

/* line 281, ../build/scss/sass/weather-icons.scss */
.wi-wind-north-west:before {
  content: "\f05d";
}

/* line 284, ../build/scss/sass/weather-icons.scss */
.wi-wind-north-east:before {
  content: "\f05e";
}

/* line 287, ../build/scss/sass/weather-icons.scss */
.wi-wind-north:before {
  content: "\f060";
}

/* line 290, ../build/scss/sass/weather-icons.scss */
.wi-wind-east:before {
  content: "\f061";
}

/* line 293, ../build/scss/sass/weather-icons.scss */
.wi-smoke:before {
  content: "\f062";
}

/* line 296, ../build/scss/sass/weather-icons.scss */
.wi-dust:before {
  content: "\f063";
}

/* line 299, ../build/scss/sass/weather-icons.scss */
.wi-snow-wind:before {
  content: "\f064";
}

/* line 302, ../build/scss/sass/weather-icons.scss */
.wi-day-snow-wind:before {
  content: "\f065";
}

/* line 305, ../build/scss/sass/weather-icons.scss */
.wi-night-snow-wind:before {
  content: "\f066";
}

/* line 308, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-snow-wind:before {
  content: "\f067";
}

/* line 311, ../build/scss/sass/weather-icons.scss */
.wi-day-sleet-storm:before {
  content: "\f068";
}

/* line 314, ../build/scss/sass/weather-icons.scss */
.wi-night-sleet-storm:before {
  content: "\f069";
}

/* line 317, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-sleet-storm:before {
  content: "\f06a";
}

/* line 320, ../build/scss/sass/weather-icons.scss */
.wi-day-snow-thunderstorm:before {
  content: "\f06b";
}

/* line 323, ../build/scss/sass/weather-icons.scss */
.wi-night-snow-thunderstorm:before {
  content: "\f06c";
}

/* line 326, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-snow-thunderstorm:before {
  content: "\f06d";
}

/* line 329, ../build/scss/sass/weather-icons.scss */
.wi-solar-eclipse:before {
  content: "\f06e";
}

/* line 332, ../build/scss/sass/weather-icons.scss */
.wi-lunar-eclipse:before {
  content: "\f070";
}

/* line 335, ../build/scss/sass/weather-icons.scss */
.wi-meteor:before {
  content: "\f071";
}

/* line 338, ../build/scss/sass/weather-icons.scss */
.wi-hot:before {
  content: "\f072";
}

/* line 341, ../build/scss/sass/weather-icons.scss */
.wi-hurricane:before {
  content: "\f073";
}

/* line 344, ../build/scss/sass/weather-icons.scss */
.wi-smog:before {
  content: "\f074";
}

/* line 347, ../build/scss/sass/weather-icons.scss */
.wi-alien:before {
  content: "\f075";
}

/* line 350, ../build/scss/sass/weather-icons.scss */
.wi-snowflake-cold:before {
  content: "\f076";
}

/* line 353, ../build/scss/sass/weather-icons.scss */
.wi-stars:before {
  content: "\f077";
}

/* line 356, ../build/scss/sass/weather-icons.scss */
.wi-night-partly-cloudy:before {
  content: "\f083";
}

/* line 359, ../build/scss/sass/weather-icons.scss */
.wi-umbrella:before {
  content: "\f084";
}

/* line 362, ../build/scss/sass/weather-icons.scss */
.wi-day-windy:before {
  content: "\f085";
}

/* line 365, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-cloudy:before {
  content: "\f086";
}

/* line 368, ../build/scss/sass/weather-icons.scss */
.wi-up-left:before {
  content: "\f087";
}

/* line 371, ../build/scss/sass/weather-icons.scss */
.wi-down-right:before {
  content: "\f088";
}

/* line 374, ../build/scss/sass/weather-icons.scss */
.wi-time-12:before {
  content: "\f089";
}

/* line 377, ../build/scss/sass/weather-icons.scss */
.wi-time-1:before {
  content: "\f08a";
}

/* line 380, ../build/scss/sass/weather-icons.scss */
.wi-time-2:before {
  content: "\f08b";
}

/* line 383, ../build/scss/sass/weather-icons.scss */
.wi-time-3:before {
  content: "\f08c";
}

/* line 386, ../build/scss/sass/weather-icons.scss */
.wi-time-4:before {
  content: "\f08d";
}

/* line 389, ../build/scss/sass/weather-icons.scss */
.wi-time-5:before {
  content: "\f08e";
}

/* line 392, ../build/scss/sass/weather-icons.scss */
.wi-time-6:before {
  content: "\f08f";
}

/* line 395, ../build/scss/sass/weather-icons.scss */
.wi-time-7:before {
  content: "\f090";
}

/* line 398, ../build/scss/sass/weather-icons.scss */
.wi-time-8:before {
  content: "\f091";
}

/* line 401, ../build/scss/sass/weather-icons.scss */
.wi-time-9:before {
  content: "\f092";
}

/* line 404, ../build/scss/sass/weather-icons.scss */
.wi-time-10:before {
  content: "\f093";
}

/* line 407, ../build/scss/sass/weather-icons.scss */
.wi-time-11:before {
  content: "\f094";
}

/* line 410, ../build/scss/sass/weather-icons.scss */
.wi-day-sleet:before {
  content: "\f0b2";
}

/* line 413, ../build/scss/sass/weather-icons.scss */
.wi-night-sleet:before {
  content: "\f0b3";
}

/* line 416, ../build/scss/sass/weather-icons.scss */
.wi-night-alt-sleet:before {
  content: "\f0b4";
}

/* line 419, ../build/scss/sass/weather-icons.scss */
.wi-sleet:before {
  content: "\f0b5";
}

/* line 422, ../build/scss/sass/weather-icons.scss */
.wi-day-haze:before {
  content: "\f0b6";
}

/* line 425, ../build/scss/sass/weather-icons.scss */
.wi-beafort-0:before {
  content: "\f0b7";
}

/* line 428, ../build/scss/sass/weather-icons.scss */
.wi-beafort-1:before {
  content: "\f0b8";
}

/* line 431, ../build/scss/sass/weather-icons.scss */
.wi-beafort-2:before {
  content: "\f0b9";
}

/* line 434, ../build/scss/sass/weather-icons.scss */
.wi-beafort-3:before {
  content: "\f0ba";
}

/* line 437, ../build/scss/sass/weather-icons.scss */
.wi-beafort-4:before {
  content: "\f0bb";
}

/* line 440, ../build/scss/sass/weather-icons.scss */
.wi-beafort-5:before {
  content: "\f0bc";
}

/* line 443, ../build/scss/sass/weather-icons.scss */
.wi-beafort-6:before {
  content: "\f0bd";
}

/* line 446, ../build/scss/sass/weather-icons.scss */
.wi-beafort-7:before {
  content: "\f0be";
}

/* line 449, ../build/scss/sass/weather-icons.scss */
.wi-beafort-8:before {
  content: "\f0bf";
}

/* line 452, ../build/scss/sass/weather-icons.scss */
.wi-beafort-9:before {
  content: "\f0c0";
}

/* line 455, ../build/scss/sass/weather-icons.scss */
.wi-beafort-10:before {
  content: "\f0c1";
}

/* line 458, ../build/scss/sass/weather-icons.scss */
.wi-beafort-11:before {
  content: "\f0c2";
}

/* line 461, ../build/scss/sass/weather-icons.scss */
.wi-beafort-12:before {
  content: "\f0c3";
}

/* line 464, ../build/scss/sass/weather-icons.scss */
.wi-wind-default:before {
  content: "\f0b1";
}

/* line 467, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._0-deg {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 474, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._15-deg {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

/* line 481, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._30-deg {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* line 488, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._45-deg {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 495, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._60-deg {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

/* line 502, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._75-deg {
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  -o-transform: rotate(75deg);
  transform: rotate(75deg);
}

/* line 509, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._90-deg {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 516, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._105-deg {
  -webkit-transform: rotate(105deg);
  -moz-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  -o-transform: rotate(105deg);
  transform: rotate(105deg);
}

/* line 523, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._120-deg {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}

/* line 530, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._135-deg {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* line 537, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._150-deg {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}

/* line 544, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._165-deg {
  -webkit-transform: rotate(165deg);
  -moz-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
  -o-transform: rotate(165deg);
  transform: rotate(165deg);
}

/* line 551, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._180-deg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 558, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._195-deg {
  -webkit-transform: rotate(195deg);
  -moz-transform: rotate(195deg);
  -ms-transform: rotate(195deg);
  -o-transform: rotate(195deg);
  transform: rotate(195deg);
}

/* line 565, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._210-deg {
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);
}

/* line 572, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._225-deg {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* line 579, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._240-deg {
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);
}

/* line 586, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._255-deg {
  -webkit-transform: rotate(255deg);
  -moz-transform: rotate(255deg);
  -ms-transform: rotate(255deg);
  -o-transform: rotate(255deg);
  transform: rotate(255deg);
}

/* line 593, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._270-deg {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 600, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._285-deg {
  -webkit-transform: rotate(295deg);
  -moz-transform: rotate(295deg);
  -ms-transform: rotate(295deg);
  -o-transform: rotate(295deg);
  transform: rotate(295deg);
}

/* line 607, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._300-deg {
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);
}

/* line 614, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._315-deg {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

/* line 621, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._330-deg {
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);
}

/* line 628, ../build/scss/sass/weather-icons.scss */
.wi-wind-default._345-deg {
  -webkit-transform: rotate(345deg);
  -moz-transform: rotate(345deg);
  -ms-transform: rotate(345deg);
  -o-transform: rotate(345deg);
  transform: rotate(345deg);
}

/* line 635, ../build/scss/sass/weather-icons.scss */
.wi-moon-new:before {
  content: "\f095";
}

/* line 638, ../build/scss/sass/weather-icons.scss */
.wi-moon-waxing-cresent-1:before {
  content: "\f096";
}

/* line 641, ../build/scss/sass/weather-icons.scss */
.wi-moon-waxing-cresent-2:before {
  content: "\f097";
}

/* line 644, ../build/scss/sass/weather-icons.scss */
.wi-moon-waxing-cresent-3:before {
  content: "\f098";
}

/* line 647, ../build/scss/sass/weather-icons.scss */
.wi-moon-waxing-cresent-4:before {
  content: "\f099";
}

/* line 650, ../build/scss/sass/weather-icons.scss */
.wi-moon-waxing-cresent-5:before {
  content: "\f09a";
}

/* line 653, ../build/scss/sass/weather-icons.scss */
.wi-moon-waxing-cresent-6:before {
  content: "\f09b";
}

/* line 656, ../build/scss/sass/weather-icons.scss */
.wi-moon-first-quarter:before {
  content: "\f09c";
}

/* line 659, ../build/scss/sass/weather-icons.scss */
.wi-moon-waxing-gibbous-1:before {
  content: "\f09d";
}

/* line 662, ../build/scss/sass/weather-icons.scss */
.wi-moon-waxing-gibbous-2:before {
  content: "\f09e";
}

/* line 665, ../build/scss/sass/weather-icons.scss */
.wi-moon-waxing-gibbous-3:before {
  content: "\f09f";
}

/* line 668, ../build/scss/sass/weather-icons.scss */
.wi-moon-waxing-gibbous-4:before {
  content: "\f0a0";
}

/* line 671, ../build/scss/sass/weather-icons.scss */
.wi-moon-waxing-gibbous-5:before {
  content: "\f0a1";
}

/* line 674, ../build/scss/sass/weather-icons.scss */
.wi-moon-waxing-gibbous-6:before {
  content: "\f0a2";
}

/* line 677, ../build/scss/sass/weather-icons.scss */
.wi-moon-full:before {
  content: "\f0a3";
}

/* line 680, ../build/scss/sass/weather-icons.scss */
.wi-moon-waning-gibbous-1:before {
  content: "\f0a4";
}

/* line 683, ../build/scss/sass/weather-icons.scss */
.wi-moon-waning-gibbous-2:before {
  content: "\f0a5";
}

/* line 686, ../build/scss/sass/weather-icons.scss */
.wi-moon-waning-gibbous-3:before {
  content: "\f0a6";
}

/* line 689, ../build/scss/sass/weather-icons.scss */
.wi-moon-waning-gibbous-4:before {
  content: "\f0a7";
}

/* line 692, ../build/scss/sass/weather-icons.scss */
.wi-moon-waning-gibbous-5:before {
  content: "\f0a8";
}

/* line 695, ../build/scss/sass/weather-icons.scss */
.wi-moon-waning-gibbous-6:before {
  content: "\f0a9";
}

/* line 698, ../build/scss/sass/weather-icons.scss */
.wi-moon-3rd-quarter:before {
  content: "\f0aa";
}

/* line 701, ../build/scss/sass/weather-icons.scss */
.wi-moon-waning-crescent-1:before {
  content: "\f0ab";
}

/* line 704, ../build/scss/sass/weather-icons.scss */
.wi-moon-waning-crescent-2:before {
  content: "\f0ac";
}

/* line 707, ../build/scss/sass/weather-icons.scss */
.wi-moon-waning-crescent-3:before {
  content: "\f0ad";
}

/* line 710, ../build/scss/sass/weather-icons.scss */
.wi-moon-waning-crescent-4:before {
  content: "\f0ae";
}

/* line 713, ../build/scss/sass/weather-icons.scss */
.wi-moon-waning-crescent-5:before {
  content: "\f0af";
}

/* line 716, ../build/scss/sass/weather-icons.scss */
.wi-moon-waning-crescent-6:before {
  content: "\f0b0";
}
